<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body" style="max-width: 1200px;">
      {% if site.title and site.title != page.title %}
      <p><a href="{{ "/" | absolute_url }}">&larr; {{ site.title }}</a></p>
      {% endif %}

      <h1>{{ page.title }}</h1>

      {% if page.example %}
      <p>
        <a href="https://play.tailwindcss.com/FHzQWBQZtr?size=540x720" target="_blank">&rarr; สามารถฝึกฝนโจทย์ได้ที่ Tailwind Play</a>
      </p>
      {% endif %}

      <div style="display: flex; gap: 1rem; flex-wrap: wrap; flex-direction: row-reverse;">
        <div style="flex: 1 0 540px; max-width: 100%;">
          <div style="position: sticky; top: 0;">
            <h2>Reference</h2>
            <div style="text-align: center">
              <img src="./reference.png" alt="Reference image" style="width: 540px; max-width: 100%; box-shadow: 0 1px 8px #0004;">
            </div>
          </div>
        </div>
        <div style="flex: 999999 1 560px" class="objectives-list">
          {{ content }}
        </div>
      </div>

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>